/* 카테고리 타이틀 */
.title {
  text-shadow: 0 2px 3px gray;
  margin-left: 4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  width: 100vw;
}

/* 외부 프레임(카테고리 페이지 프레임) */
.products_container {
  position: absolute;
  width: 90vw;
  height: 100vh;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
}

/*  내부 프레임(상품 아이템 정렬에 활용)*/
.items_box {
  opacity: 0.8;
  margin-top: 2rem;
  border-radius: 15px;
  transform: perspective(600px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  position: relative;
}

/* 각 상품 아이템 */
.items {
  width: 20vw;
  min-width: 300px;
  transition: 1s;
  height: 65%;
  margin: 10px 5px 5px 5px;
  box-shadow: 0 0 15px 1px gray;
  background: rgb(255, 255, 255);
}

.items:hover {
  cursor: pointer;
  transform: perspective(600px) scale(1.03) translateY(-50px) translateZ(40px)
    rotateX(-3deg);

  box-shadow: 0px 5px 20px rgb(65, 61, 62);
}

/* 상품이미지 */
.products_img {
  margin-top: 1rem;
}

/* 상품 제목 */
.contents h4 {
  transition: 1s;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  line-height: 20px;
  max-height:50px ;
  min-height: 50px;
  font-size: 16px;
  box-shadow: 0px 5px 5px black inset;
  padding: 10px 0 10px 0;
  margin-bottom: 1rem;
}

.contents h4:hover{
  background-color: rgb(240, 13, 112);
  translate: 0 0 50px;
  scale: 1.2;
  max-height: 100%;
  color:white;
}

/* 상품 명세 */
.contents {
  transition: 2s;
  color: rgb(255, 255, 255);
  height: 200px;
  letter-spacing: 1px;
  padding: 10px;
  margin-top: 2rem;
  line-height: 28px;
  border-top: 1px solid rgb(163, 153, 153);
  background: linear-gradient(160deg, rgb(154, 97, 11), rgb(136, 87, 2));
  font-size: 16px;
}

.contents{
  box-shadow: 0 0 0 0, 0px 500px 15px black inset;
  color: white;
}
