.Modal {
  transition: 1s;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 100;
  text-align: center;
}

.modal_form {
  border-radius: 10px;
  box-shadow: 2px 5px 15px rgba(46, 38, 38, 0.623);
  position: fixed;
  max-width: 600px;
  min-width: 400px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 80vw;
  height: 60vh;
  background-color: rgb(255, 255, 255);
}

.modal_title {
  margin-top: 3rem;
}

.size {
  margin-top: 2rem;
  text-align: center;
  letter-spacing: 2.5px;
}

.btn_con {
  position: absolute;
  bottom: 15px;
  width: 60%;
  left: 50%;
  transform: translate(-50%);
}

.closeBtn {
  width: 30px;
  position: absolute;
  right: 8px;
  top: -2px;
}

.total {
  text-align: center;
  font-size: 20px;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid black;
}
