/* 카테고리 바(三) */
.category_bars {
  display: none;
}
.menu {
  transition: 1s;
  z-index: 100;
}
.menu li {
  display: inline-block;
  list-style: none;
  margin: 22px 25px 22px 25px;
}

.menu .menu_list .link {
  position: relative;
  color: rgb(255, 255, 255);
  transition: 0.1s;
  margin: 0 20px 0 20px;
}
.menu li:hover .link {
  color: rgb(255, 230, 90);
}
/* 카테고리 바 내부 검색창(미디어 쿼리 적용 시) */
.inner_search_con {
  display: none;
}

/* 카테고리 바 외부 검색창(미디어 쿼리 적용 이전) */
.outer_search_con {
  text-align: center;
  transform: perspective(800px) rotateX(8deg) translate3d(0, 80px, 100px);
  transform-style: preserve-3d;
  box-shadow: 0 2px 15px 1px gray;
  position: absolute;
  z-index: 100;
  width: 60vw;
  color:black;
  background: rgb(0, 0, 0);
  border-radius: 5px;
}
.outer_search {
  color: black;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 80%;
  margin-left: 0.5rem;
  padding: 13px 8vw 13px 13px;
  border-radius: 5px;
}

/* 카드 및 로그인 버튼을 감싸는 컨테이너 */
.cartLoginCon {
  display: flex;
}

.cartLoginCon article {
  margin: 8px;
}

.cartLoginCon .cart_icon:hover {
  cursor: pointer;
  color: gold;
}

/* 로그인 버튼 */
.login:hover {
  cursor: pointer;
  color: gold;
}


/* 카테고리 데이터 GET 실패 시 대체 메시지 */
.get_cate_error {
  position: absolute;
  color: white;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (max-width: 978px) {
  /* 외부 검색창 */
  .outer_search_con {
    display: none;
  }

  /* 내부 검색창 */
  .inner_search_con {
    border: none;
    z-index: 100;
    opacity: 0;
    display: block;
    transition: 1s;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 2.8rem;
    left: 0;
    padding: 5px;
    transform: translateX(-500px);
  }

  .inner_search_con.action {
    transform: translateX(0);
    border: none;
    opacity: 1;
  }

  .inner_search {
    color: white;
    background-color: rgba(128, 128, 128, 0.301);
    border: none;
    width: 80%;
    margin-left: 1rem;
    padding: 13px 5vw 13px 13px;
    border-radius: 5px;
  }

  .inner_search::placeholder {
    color: rgb(174, 167, 167);
  }

  /* 카테고리(메뉴) */
  .category_bars {
    display: block;
    position: absolute;
    left: 10px;
    cursor: pointer;
  }
  .menu {
    width: 100vw;
    display: flex;
    position: absolute;
    flex-direction: column;
    color: gray;
    left: 0;
    top: 6rem;
    opacity: 0;
    background: black;
    transform: translateX(-500px);
  }
  .menu li {
    display: block;
    margin-left: 10%;
    width: 75%;
    border-bottom: 0.5px solid gray;
    padding: -5px 0 5px 0;
  }

  .menu.action {
    opacity: 1;
    transform: translateX(0);
  }
}
