.detail_taps {
  width: 100%;
  box-shadow: 0 30px 20px 1px black;
  display: flex;
  justify-content: center;
}

.detail_taps button {
  border: none;
  border-radius: 5px;
  width: 30%;
  font-size: 16px;
  max-width: 200px;
  color:white;
  margin: 1rem;
  padding: 15px 0px 15px 0;
  border-bottom: 5px solid rgb(89, 86, 86);
}

.detail_taps button:hover {
  cursor: pointer;
  padding: 5px 0px 5px 0;
  transform: translateY(3px);
  box-shadow: 1px 1px 5px rgb(107, 103, 103);
  border-bottom: none;
  color: rgb(255, 255, 255);
  background-color: rgba(37, 137, 218, 0.629) !important;
}
