/* 배경화면 */
.inquiry_background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.6;
}

#title {
  text-align: center;
  padding-top: 5rem;
  font-size: 1.8rem;
}

#table_outer_container {
  text-align: center;
  margin: 1.5rem auto;
  width: 50%;
  min-width: 400px;
  height: 80vh;
}

#inquiry_table {
  width: 100%;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.695);
  border-collapse: collapse;
  border-radius: 5px;
}

#inquiry_table th {
  background-color: rgba(28, 143, 215, 0.8);
  color: white;
  padding: 5px;
}

/* 테이블 행 */
.table_row:hover{
  border-radius: 5px;
  box-shadow: 1px 1px 15px rgb(17, 102, 247),
  inset 600px 1px 15px rgb(29, 82, 151),
  inset -600px 1px 15px rgb(26, 71, 160);
  color: white;
}
.table_row td {
  padding: 5px;
  cursor: pointer;
}

.table_row{
  transition: 1s;
  background-color: transparent;

}
.table_row:nth-child(2n) {
  background: rgba(106, 107, 108, 0.593);

}

/* 질문 등록 버튼 */
.registrationBtn {
  background:radial-gradient(200px,white, black);
  box-shadow: 0 0 0 0, inset 1px 1px 10px 1px rgba(64, 64, 64, 0.53);
  color: rgb(41, 41, 43);
  border-radius: 0;
  border-bottom: 5px solid black;
  border-bottom-left-radius:10px ;
  border-bottom-right-radius:10px ;
  transform: perspective(600px);
  transform-style: preserve-3d;
}

.registrationBtn:hover {
  border-color: rgba(9, 63, 86, 0.828);

  box-shadow: 1px 0px 0px transparent, inset 300px 0px rgba(63, 159, 237, 0.921); ;
  background-color: rgb(106, 147, 194);
  color:rgb(0, 0, 0);
}

