.detail_taps{
    width: 100%;
    box-shadow: 0 30px 20px 1px black;
    display: flex;
    justify-content: center;
}

.detail_taps button{
    width: 30%;
    max-width: 200px;
    margin: 1rem;
}

.detail_taps button:hover{
    cursor: pointer;
    color:black;
    background-color: rgb(71, 230, 255);
}